// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/styles/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";

div.bg-tree-view-toolbar {
    height: fit-content;
    font-size-adjust: 0.7;

    padding: 3px;
    // padding-top: 3px;
    // padding-bottom: 3px;

    .btn {
        top: 0px;
    }
}


/* make the tree-view selected item color reflect if it has the focus */
div.tool-panel.tree-view:focus .selected::before {
    background-color: @background-color-selected;
}
